In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns

In [2]:
benin_data = "dataset/benin-malanville.csv"
sierraleone_data = "dataset/sierraleone-bumbuna.csv"
togo_data="dataset/togo-dapaong_qc.csv"

In [3]:
df1= pd.read_csv(benin_data)
df2=pd.read_csv(sierraleone_data)
df3=pd.read_csv(togo_data)

In [4]:
df1.head(410)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,2021-08-09 06:46,6.0,-0.2,6.0,6.6,6.6,24.2,98.6,0.0,0.0,0.0,0.0,0.0,997,0,0.0,23.9,23.5,NaN
406,2021-08-09 06:47,6.9,-0.2,6.8,7.3,7.4,24.2,98.7,0.0,0.0,0.0,0.0,0.0,997,0,0.0,23.9,23.5,NaN
407,2021-08-09 06:48,7.9,-0.2,7.9,8.3,8.3,24.2,98.7,0.0,0.0,0.0,0.0,0.0,997,0,0.0,23.9,23.5,NaN
408,2021-08-09 06:49,9.2,-0.2,9.1,9.4,9.4,24.2,98.8,0.0,0.0,0.0,0.0,0.0,997,0,0.0,24.0,23.5,NaN
409,2021-08-09 06:50,10.5,-0.2,10.4,10.6,10.7,24.2,98.9,0.0,0.0,0.0,0.0,0.0,997,0,0.0,24.1,23.6,NaN

In [5]:
df2.head()

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

In [24]:
df3.head(300)

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
0,2021-10-25 00:01,-1.3,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4
1,2021-10-25 00:02,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4
2,2021-10-25 00:03,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4
3,2021-10-25 00:04,-1.2,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4
4,2021-10-25 00:05,-1.2,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2021-10-25 04:56,-1.2,0.0,0.0,0.0,0.0,25.2,90.4,1.7,2.1,0.3,220.1,3.5,977,0,0.0,24.7,24.5
296,2021-10-25 04:57,-1.2,0.0,0.0,0.0,0.0,25.3,90.4,1.8,2.1,0.3,221.4,3.7,977,0,0.0,24.8,24.5
297,2021-10-25 04:58,-1.2,0.0,0.0,0.0,0.0,25.3,90.3,1.6,1.9,0.4,220.4,2.7,977,0,0.0,24.8,24.5
298,2021-10-25 04:59,-1.2,0.0,0.0,0.0,0.0,25.3,90.2,1.6,1.9,0.4,220.0,3.4,977,0,0.0,24.8,24.5
299,2021-10-25 05:00,-1.2,0.0,0.0,0.0,0.0,25.3,90.3,1.5,1.9,0.4,218.5,6.7,977,0,0.0,24.8,24.5

In [7]:
df1.info()
# df2.info()
# df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

In [8]:
df1.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,240.559452,167.187516,115.358961,236.589496,228.883576,28.179683,54.487969,2.121113,2.809195,0.473390,153.435172,8.582407,994.197199,0.000923,0.001905,35.246026,32.471736,NaN
std,331.131327,261.710501,158.691074,326.894859,316.536515,5.924297,28.073069,1.603466,2.029120,0.273395,102.332842,6.385864,2.474993,0.030363,0.037115,14.807258,12.348743,NaN
min,-12.900000,-7.800000,-12.600000,0.000000,0.000000,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.000000,0.000000,0.000000,9.000000,8.100000,NaN
25%,-2.000000,-0.500000,-2.100000,0.000000,0.000000,24.200000,28.800000,1.000000,1.300000,0.400000,59.000000,3.700000,993.000000,0.000000,0.000000,24.200000,23.600000,NaN
50%,1.800000,-0.100000,1.600000,4.500000,4.300000,28.000000,55.100000,1.900000,2.600000,0.500000,181.000000,8.600000,994.000000,0.000000,0.000000,30.000000,28.900000,NaN
75%,483.400000,314.200000,216.300000,463.700000,447.900000,32.300000,80.100000,3.100000,4.100000,0.600000,235.100000,12.300000,996.000000,0.000000,0.000000,46.900000,41.500000,NaN
max,1413.000000,952.300000,759.200000,1342.300000,1342.300000,43.800000,100.000000,19.500000,26.600000,4.200000,360.000000,99.400000,1003.000000,1.000000,2.500000,81.000000,72.500000,NaN

In [11]:
df1.isnull().sum()
df2.isnull().sum()
df3.isnull().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [16]:
#df1 = df1.drop('Comments', axis=1)
#df2 = df2.drop('Comments', axis=1)
df3 = df3.drop('Comments', axis=1)

In [17]:
#df1.isnull().sum()
#df2.isnull().sum()
df3.isnull().sum()

Timestamp        0
GHI              0
DNI              0
DHI              0
ModA             0
ModB             0
Tamb             0
RH               0
WS               0
WSgust           0
WSstdev          0
WD               0
WDstdev          0
BP               0
Cleaning         0
Precipitation    0
TModA            0
TModB            0
dtype: int64

In [44]:
numeric_df = df3.select_dtypes(include='number')
negative_columns = numeric_df.columns[(numeric_df < 0).any()]
print("Columns with negative values Are:", negative_columns)

negative_counts = (numeric_df < 0).sum()
print("Sum of negative values in each numeric column:")
print(negative_counts)

Columns with negative values Are: Index(['GHI'], dtype='object')
Sum of negative values in each numeric column:
GHI              257385
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
dtype: int64

In [25]:
dataframes = [df1, df2, df3]

df_names = ['Benin_Data', 'sieralion_data', 'togo_data']

# Loop through each dataframe
for idx, df in enumerate(dataframes):
    print(f"\n{df_names[idx]}: Negative Values Description")
    
    for column in ['GHI', 'DNI', 'DHI']:
        print(f"\nColumn: {column}")
        if column in df.columns:
            print(df[df[column] < 0][column].describe())
        else:
            print(f"{column} does not exist in {df_names[idx]}")

Benin_Data: Negative Values Description

Column: GHI
count    258847.000000
mean         -2.841478
std           1.784139
min         -12.900000
25%          -4.200000
50%          -2.000000
75%          -1.500000
max          -0.100000
Name: GHI, dtype: float64

Column: DNI
count    275987.000000
mean         -0.484394
std           0.268823
min          -7.800000
25%          -0.600000
50%          -0.400000
75%          -0.300000
max          -0.100000
Name: DNI, dtype: float64

Column: DHI
count    259182.000000
mean         -3.313766
std           2.454150
min         -12.600000
25%          -5.100000
50%          -2.200000
75%          -1.400000
max          -0.100000
Name: DHI, dtype: float64

sieralion_data: Negative Values Description

Column: GHI
count    261135.000000
mean         -4.929759
std           4.292342
min         -19.500000
25%          -9.300000
50%          -2.900000
75%          -1.100000
max          -0.100000
Name: GHI, dtype: float64

Column: DNI
count    266352.000000
mean         -0.290856
std           0.218213
min          -7.800000
25%          -0.400000
50%          -0.300000
75%          -0.100000
max          -0.100000
Name: DNI, dtype: float64

Column: DHI
count    263128.000000
mean         -5.099848
std           4.014114
min         -17.900000
25%          -8.700000
50%          -3.800000
75%          -1.400000
max          -0.100000
Name: DHI, dtype: float64

togo_data: Negative Values Description

Column: GHI
count    257385.000000
mean         -2.376459
std           1.166121
min         -12.700000
25%          -3.200000
50%          -2.200000
75%          -1.500000
max          -0.100000
Name: GHI, dtype: float64

Column: DNI
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: DNI, dtype: float64

Column: DHI
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: DHI, dtype: float64

In [51]:
# Replace negative values with NaN (for later imputation or removal)
df3['GHI'] = df3['GHI'].apply(lambda x: x if x >= 0 else None)

# Example of replacing negative values with the mean of positive values
mean_value = df3[df3['GHI'] > 0]['GHI'].mean()
df3['GHI'].fillna(mean_value, inplace=True)

/tmp/ipykernel_4695/4228398727.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df3['GHI'].fillna(mean_value, inplace=True)

In [52]:

# Set 'Date' as the index
df1.set_index('Timestamp', inplace=True)

# Plot an area plot
df1.plot(kind='area', stacked=True, alpha=0.5)

# Customize the plot
plt.title('Area Plot Over Time')
plt.xlabel('Date')
plt.ylabel('Values')
plt.legend(title='Categories')
plt.show()

KeyError: "None of ['Timestamp'] are in the columns"